.account-storage-info {
  margin-top: 30px;
  margin-left: 30px;
  margin-right: 30px;
  @media screen and (max-width: 767px){
    margin-top: 28px;
    margin-left: 0;
    margin-right: 0;
  }
  .account-storage-info-card {
    background-color: #ffffff;
    padding: 35px 35px 0;
    height: 100%;
    box-shadow: 1px 2px 6px rgba(0, 0, 0, 0.1), 0px 4px 4px rgba(0, 0, 0, 0.15);
    @media screen and (max-width: 767px){
      padding: 19px 19px 0;
      margin-bottom: 21px;
      height: auto;
    }
    .title {
      padding: 0 0 26px;
      border-bottom: 1px solid #d7d7d7;
      @media screen and (max-width: 767px){
        padding-bottom: 19px;
      }
      h4 {
        font-family: Josefin Sans;
        font-weight: bold;
        font-size: 16px;
        line-height: 16px;
        color: #B6A576;
      }
    }
    .content {
      padding: 22px 0;
      flex: 1;
      @media screen and (max-width: 767px){
        padding: 18px;
      }
      .content-row {
        @media screen and (max-width: 360px){
          flex-direction: column;
        }
        .content-info {
          flex: 1 100%;
          .content-info-list {
            margin-top: 28px;
            @media screen and (max-width: 767px){
              margin-top: 10px;
            }
            &:first-child {
              margin-top: 0;
            }
            label {
              font-family: Josefin Sans;
              font-weight: 600;
              font-size: 14px;
              line-height: 14px;
              color: #000000;
              margin-bottom: 8px;
            }
            span {
              font-family: Josefin Sans;
              font-weight: 300;
              font-size: 18px;
              line-height: 18px;
              color: #000000;
            }
            p {
              font-family: Josefin Sans;
              font-weight: 300;
              font-size: 18px;
              line-height: 18px;
              color: #000000;
              max-width: 195px;
            }
          }
        }
      }
    }
    .account-storage-info-card-edit {
      border-top: 1px solid #d7d7d7;
      padding: 14px 0;
      .edit-btn {
        font-family: Josefin Sans;
        font-weight: bold;
        font-size: 14px;
        line-height: 14px;
        color: #b6a576;
        &:focus {
          outline: none;
          box-shadow: none;
          text-decoration: none;
        }
        &:hover {
          text-decoration: none;
          color: #6E6D69;
        }
      }
    }
  }
}