.header {
  margin: 0 30px;
  @media screen and (max-width: 767px){
    margin: 0;
  }
  .navbar {
    padding: 40px 0 6px;
    align-items: flex-end;
    @media screen and (max-width: 991px){
      padding: 21px 0 6px;
    }
    .navbar-brand {
      @media screen and (max-width: 1199px){
        img {
          max-width: 200px;
        }
      }
      @media screen and (max-width: 991px){
        width: 100%;
        text-align: center;
        margin-right: 0;
      }
      @media screen and (max-width: 767px){
        img {
          max-width: 150px;
        }
      }
    }
    .navbar-toggler {
      padding: 0;
      border: none;
      display: block;
    }
    .top-toggle-menu {
      padding: 0;
      border: none;
      position: absolute;
      top: 20px;
      left: 5px;
      display: none;
      @media screen and (max-width: 991px){
        display: block;
      }
      .navbar-toggler-icon {
        background: url(../../images/nav-toggler-icon.png) no-repeat center center;
        width: 34px;
        height: 23px;
      }
      &:focus {
        outline: none;
      }
    }
    .header-nav {
      background-color: #ffffff;
      padding-left: 16px;
      padding-right: 16px;
      height: auto !important;
      width: 100%;
      box-shadow: 1px 2px 6px rgba(0, 0, 0, 0.1), 0px 4px 4px rgba(0, 0, 0, 0.15);
      @media screen and (max-width: 991px){
        position: fixed;
        top: 0;
        left: -100%;
        z-index: 9;
        height: 100vh !important;
        padding: 0;
        background: rgba(0, 0, 0, 0.2);
        width: 100%;
        margin: 0;
        display: block;
        &.show {
          left: 0;
        }
      }
      .navbar-nav {
        width: 100%;
        justify-content: center;
        @media screen and (max-width: 991px){
          background-color: #ffffff;
          padding-left: 16px;
          padding-right: 16px;
          width: 300px;
          height: 100%;
          margin: 0 !important;
          justify-content: flex-start;
        }
        .nav-link {
          font-family: Josefin Sans;
          font-weight: bold;
          font-size: 16px;
          line-height: 16px;
          text-transform: uppercase;
          color: #6E6D69;
          padding: 16px 24px;
          @media screen and (min-width: 992px) and (max-width: 1199px){
            font-size: 16px;
            padding: 16px 6px;
          }
          &.active {
            color: #B6A576;
          }
          &.close-icon {
            display: none;
            padding: 8px 0 0;
            .navbar-toggler {
              position: relative;
              top: 0;
              left: 0;
              width: 40px;
              display: block;
              margin-left: auto;
              img {
                width: 40px;
              }
            }
            @media screen and (max-width: 991px){
              display: block;
              text-align: right;
            }
          }
        }
        .navbar-toggler {
          text-align: left;
        }
      }
    }
  }
}