
.custom-select-wrapper {
  position: relative;
  user-select: none;
  width: 100%;
  label {
    font-family: Josefin Sans;
    font-weight: normal;
    font-size: 14px;
    line-height: 14px;
    text-transform: uppercase;
    color: #6E6D69;
    margin-bottom: 0;
    margin-right: 10px;
  }
  .custom-selectDrop {
    position: relative;
    display: flex;
    flex-direction: column;
    background: #FFFFFF;
    border: 1px solid rgba(182, 165, 118, 0.2);
    box-sizing: border-box;
    box-shadow: 10px 10px 15px rgba(182, 165, 118, 0.1);
    border-radius: 25px;
    min-width: 150px;
    .custom-select__trigger {
      position: relative;
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 8px 12px 7px;
      font-family: Josefin Sans;
      font-weight: normal;
      font-size: 14px;
      line-height: 14px;color: #6E6D69;
      cursor: pointer;
      .arrow {
        position: relative;
        height: 8px;
        width: 14px;
        &:before {
          content: "";
          position: absolute;
          bottom: 0px;
          width: 0.15rem;
          height: 100%;
          transition: all 0.5s;
          border-left: 6px solid transparent;
          border-right: 6px solid transparent;
          border-top: 6px solid #B6A576;
        }
      }
    }
    &.open {
      .custom-select__trigger {
        .arrow {
          &:before {
            transform: rotate(180deg);
          }
        }
      }
      .custom-options {
        opacity: 1;
        visibility: visible;
        pointer-events: all;
      }
    }
    .custom-options {
      position: absolute;
      display: block;
      top: 100%;
      left: 0;
      right: 0;
      border: 1px solid #b6a576;
      background: #fff;
      transition: all 0.5s;
      opacity: 0;
      visibility: hidden;
      pointer-events: none;
      z-index: 2;
      .custom-option {
        position: relative;
        display: block;
        padding: 10px 22px;
        font-family: Josefin Sans;
        font-weight: bold;
        font-size: 14px;
        line-height: 18px;
        text-transform: uppercase;
        color: #6E6D69;
        cursor: pointer;
        transition: all 0.5s;
        &:hover {
          background-color: #f9f7f0;
        }
        &.selected {
          color: #ffffff;
          background-color: #B6A576;
        }
      }
    }
  }
}


.wine-colloection-section {
  margin: 30px;
  @media screen and (max-width: 767px){
    margin: 0 0 20px;
  }
  .wine-colloection-block {
    .wine-colloection-card {
      .wine-colloection-head {
        padding: 28px 22px;
        background-color: #ffffff;
        @media screen and (max-width: 991px){
          background-color: transparent;
          padding: 8px 0;
        }
        @media screen and (max-width: 767px){
          padding-top: 26px;
        }
        .wine-colloection-title {
          flex: 1 225px;
          max-width: 225px;
          @media screen and (max-width: 991px){
            flex: 1 100%;
            max-width: 100%;
            margin-bottom: 8px;
          }
          h4 {
            font-family: Josefin Sans;
            font-weight: normal;
            font-size: 16px;
            line-height: 16px;
            text-transform: uppercase;
            color: #B6A576;
            margin-bottom: 0;
            @media screen and (max-width: 991px){
              font-size: 24px;
              line-height: 24px;
              text-align: center;
            }
          }
        }
        .wine-colloection-filter {
          flex: 1;
          .search-filter {
            flex: 1;
            .search-input {
              background: #FFFFFF;
              border: 1px solid rgba(182, 165, 118, 0.2);
              box-sizing: border-box;
              box-shadow: 10px 10px 15px rgba(182, 165, 118, 0.1);
              border-radius: 25px;
              padding: 7px 18px;
              font-family: Roboto;
              font-weight: normal;
              font-size: 14px;
              line-height: 16px;
              color: #B6A576;
              width: 100%;
              @media screen and (max-width: 991px){
                padding: 14px 22px;
              }
              &:focus {
                outline: none;
              }
            }
          }
          .location-view-filter {
            @media screen and (max-width: 991px){
              display: none !important;
            }
          }
          .filter {
            display: none;
            position: relative;
            @media screen and (max-width: 991px){
              display: flex;
              align-items: center;
            }
            .filter-dropdown {
              position: absolute;
              right: 0;
              top: 55px;
              width: 150px;
              border: 1px solid #b6a576;
              background: #fff;
              transition: all 0.5s;
              opacity: 0;
              visibility: hidden;
              pointer-events: none;
              padding: 8px;
              .filter-list {
                span {
                  padding: 10px 22px;
                  font-family: Josefin Sans;
                  font-weight: bold;
                  font-size: 14px;
                  line-height: 18px;
                  text-transform: uppercase;
                  color: #6E6D69;
                  cursor: pointer;
                  transition: all 0.5s;
                  display: block;
                }
                &:hover {
                  background-color: #f9f7f0;
                }
              }
            }
            &.open {
              .filter-dropdown {
                opacity: 1;
                visibility: visible;
                pointer-events: all;
              }
            }
          }
        }
      }
      .wine-colloection-table-wrapper {
        background-color: #ffffff;
      }
      .wine-colloection-table {
        .table {
          margin-bottom: 0;
          th {
            font-family: Josefin Sans;
            font-weight: normal;
            font-size: 14px;
            line-height: 14px;
            color: #000000;
            text-transform: uppercase;
            padding: 15px 27px 12px;
            border-top: 1px solid #e7e7e7;
            border-bottom: 1px solid #e7e7e7;
            vertical-align: middle;
            &.status-th {
              text-align: center;
            }
          }
          td {
            font-family: Josefin Sans;
            font-style: normal;
            font-weight: normal;
            font-size: 14px;
            line-height: 14px;
            color: #6C6B6B;
            padding: 16px 27px;
            border-bottom: 1px solid #e7e7e7;
            vertical-align: middle;
            .wine-list {
              .wine-name {
                color: #B6A576;
              }
            }
            .status-list {
              text-align: center;
              &.live-offer {
                span {
                  font-family: Roboto;
                  font-style: normal;
                  font-weight: 500;
                  font-size: 12px;
                  line-height: 14px;
                  color: #32E206;
                }
              }
              &.sell-td {
                span {
                  background: #FFFFFF;
                  border: 1px solid #32E206;
                  box-sizing: border-box;
                  box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.25);
                  border-radius: 6px;
                  padding: 6px 20px;
                  font-family: Roboto;
                  font-weight: normal;
                  font-size: 12px;
                  line-height: 14px;
                  color: #32E206;
                }
              }
              &.sold-td {
                span {
                  font-family: Roboto;
                  font-weight: 500;
                  font-size: 12px;
                  line-height: 14px;
                  color: #FF0101;
                }
              }
            }
          }
        }
      }
      .wine-table-footer {
        padding: 26px 0 23px;
        .wine-table-footer-prev {
          .wine-table-prev-next-btn {
            font-family: Josefin Sans;
            font-weight: normal;
            font-size: 14px;
            line-height: 14px;
            color: #B16D06;
            &:hover {
              text-decoration: none;
              color: #6E6D69;
            }
          }
        }
        .wine-table-footer-no {
          @media screen and (max-width: 991px){
            display: none;
          }
          li {
            list-style: none;
            .wine-table-no-btn {
              font-family: Josefin Sans;
              font-weight: normal;
              font-size: 14px;
              line-height: 14px;
              color: #B16D06;
              &:hover {
                text-decoration: none;
                color: #6E6D69;
              }
            }
          }
        }
        .wine-table-footer-next {
          .wine-table-prev-next-btn {
            font-family: Josefin Sans;
            font-weight: normal;
            font-size: 14px;
            line-height: 14px;
            color: #B16D06;
            &:hover {
              text-decoration: none;
              color: #6E6D69;
            }
          }
        }
      }
    }
  }
}