.invoice-section {
  margin: 30px;
  @media screen and (max-width: 767px){
    margin: 0 auto 21px;
  }
  .invoice-block {
    .invoice-card {
      background-color: #FFFFFF;
      padding: 35px 35px 14px;
      box-shadow: 1px 2px 6px rgba(0, 0, 0, 0.1), 0px 4px 4px rgba(0, 0, 0, 0.15);
      @media screen and (max-width: 767px){
        padding: 19px;
      }
      .title {
        padding: 0 0 24px;
        @media screen and (max-width: 767px){
          padding-bottom: 19px;
        }
        h4 {
          font-family: 'FuturaBT-Bold';
          font-weight: 900;
          font-size: 16px;
          line-height: 16px;
          color: #B6A576;
        }
      }
      .invoice-table {
        @media screen and (max-width: 767px){
          display: none;
        }
        .table {
          margin-bottom: 0;
          tr {
            th {
              font-family: 'FuturaBT-Medium';
              font-weight: normal;
              font-size: 14px;
              line-height: 14px;
              text-transform: uppercase;
              color: #000000;
              border-top: 1px solid #d7d7d7;
              border-bottom: 1px solid #d7d7d7;
              padding: 13px 14px 11px;
              vertical-align: middle;
              letter-spacing: 0.7px;
              &:first-child {
                padding-left: 0;
              }
              &:last-child {
                padding-right: 0;
              }
            }
            td {
              font-family: 'FuturaBT-Light';
              font-weight: normal;
              font-size: 14px;
              line-height: 14px;
              color: #6e6d69;
              border-bottom: 1px solid #d7d7d7;
              padding: 14px;
              vertical-align: middle;
              &:first-child {
                padding-left: 0;
              }
              &:last-child {
                padding-right: 0;
              }
              .receipt-link {
                color: #b6a576;
                text-transform: uppercase;
                text-decoration: underline;
                cursor: pointer;
                font-family: 'FuturaBT-Medium';
                font-weight: 900;
                &:hover {
                  color: #6E6D69;
                }
              }
            }
          }
        }
      }
      .invoice-footer {
        padding-top: 24px;
        .invoice-xls-view {
          .invoice-xls-view-btn {
            font-family: 'FuturaBT-Medium';
            font-weight: 900;
            font-size: 14px;
            line-height: 14px;
            color: #b6a576;
            padding: 0;
            letter-spacing: 0.7px;
            &:hover {
              text-decoration: none;
              color: #6E6D69;
            }
          }
        }
      }
      .invoice-table-mobile {
        display: none;
        @media screen and (max-width: 767px){
          display: block;
        }
        .invoice-table-mobile-list {
          border-bottom: 2px solid #e7e7e7;
          margin-top: -1px;
          .tr-middle-column {
            border-top: 1px solid #e7e7e7;
            padding: 13px 20px;
            width: 92%;
            margin: 0 auto;
            &:first-child {
              border-bottom: 1px solid #e7e7e7;
            }
            .th {
              margin-right: 15px;
              &:last-child {
                margin-right: 0;
              }
              label {
                font-family: Josefin Sans;
                font-weight: bold;
                font-size: 15px;
                line-height: 15px;
                text-transform: uppercase;
                color: #6C6B6B;
                margin-bottom: 0;
                margin-right: 10px;
              }
              span {
                font-family: Josefin Sans;
                font-weight: normal;
                font-size: 14px;
                line-height: 14px;
                color: #6C6B6B;
                white-space: nowrap;
              }
            }
          }
          .tr-full-column {
            padding: 22px 0;
            .tr-row {
              margin-bottom: 12px;
              &:last-child {
                margin-bottom: 0;
              }
              .tr-row-th {
                width: 18%;
                text-align: center;
                &:first-child {
                  width: 67%;
                  text-align: left;
                }
                label {
                  font-family: Josefin Sans;
                  font-weight: bold;
                  font-size: 15px;
                  line-height: 15px;
                  text-transform: uppercase;
                  color: #6C6B6B;
                }
                span {
                  font-family: Josefin Sans;
                  font-weight: normal;
                  font-size: 14px;
                  line-height: 14px;
                  color: #6C6B6B;
                  display: block;
                }
              }
            }
          }
        }
      }
    }
  }
}